<div class="content">
  <div class="field">
    <h1>{{ "Lorem ipsum dolor sit amet" | uppercase }}</h1>
  </div>
  <div class="collase">
    <div class="wrapper">
      <div class="row1"><img [src]="image[0]"></div>
      <div class="row1"><img [src]="image[1]"></div>
      <div class="box1"><img [src]="image[2]"></div>
      <div class="box2"><img [src]="image[3]"></div>
      <div><img [src]="image[4]"></div>
      <div><img [src]="image[5]"></div>
      <div><img [src]="image[6]"></div>
    </div>
  </div>
</div>